html {
    font-family: fantasy; 
     
}

img {
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px
}

.chiken {
position:relative; left: 145px
}

.description {
    border-radius: 10px;
    background-color: beige;
    length: 100px;
}

body {
    background-color: antiquewhite;
    text-align: center;
    
}

.ingredients {
    border-radius: 10px;
    background-color: beige;
    width: 250px;
    height: 260px;
}
.spec {
    
    border-radius: 20px;
    width: 150px;
    background-color: beige;
    
}

.strong {
    
}

.directions {
    border-radius: 10px;
    background-color: beige;
    width: 500px;
    height: 370px;
}